* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-size: cover;
  padding-top: 7cm;
  color: white;
}

.mac {
  background-image: url('../assets/backgrounds/s_image.jpg');
  color: white;
  width: 100%;
  height: 50vh;
  padding-top: 3cm;
}

.info {
  background-image: url('../assets/backgrounds/c_image.jpg');
  width: 100%;
  height: 60vh;
}

.para {
  position: absolute;
  opacity: 0;
  margin-top: -50%;
  left: 80px;
  bottom: 20px;
  transition:0.8s ease;
}
.hover:hover #port{
  opacity: 0.4;
}
.hover:hover .para{
  opacity: 1;
}

.message {
  background: transparent;
}

.social {
  text-align: center;
}

.showing1, .showing2, .showing3 {
  display: none
}

.social {
  text-align: center;
}

.col-md-3 {
  height: 138px;
  width: 150px;
}

.col-md-3 img {
  height: 100%;
  width: 100%:
}

p {
  font-size: 20px;
}

.mac2 {
  width: 90%;
  padding-left: 10%;

}
